body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Comic Sans MS", sans-serif;
  background-image: url('../img/fondo4.png');
  /* Ruta de tu imagen de fondo */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 18px; /* Tamaño de fuente reducido */
  color: #080808;
  font-weight: bold;
  overflow-x: hidden;
  /* Evita el desplazamiento horizontal */
  background-color: rgba(237, 112, 162, 0.505);
}

#container {
  position: relative;
  display: flex;
  /* Permite alinear verticalmente el contenido */
  flex-direction: column;
  /* Alinear el contenido verticalmente */
  justify-content: flex-start; /* Alinea el contenido en la parte superior */
  align-items: center;
  /* Centra horizontalmente el contenido */
}

p#desc {
  padding: 0;
  background-color: rgba(250, 248, 127, 0.74);
  color: #000;
  font-weight: bold;
}

h1 {
  color: #8c0829;
  /* Resto del código para el efecto de sombra */
}

#imagen {
  display: block;
  margin: 0 auto;
  width: 40%;
  height: auto;
}

input[type="button"] {
  display: inline-block;
  margin: 10px; /* Margen reducido */
  padding: 10px 20px;
  border: 2px solid #f6f6f6;
  color: #080808;
  background-color: rgba(250, 248, 127, 0.74);
  border-radius: 5px;
  font-size: 18px; /* Tamaño de fuente reducido */
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  text-align: center;
}

.boton {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#nombreImagen {
  display: inline-block;
  margin: 10px;
  font-family: "Kristen ITC";
}

header {
  text-align: left;
  padding: 5px 20px; /* Espaciado del encabezado reducido */
}
